
@import url("./styles.css");

/*======================================
=            MOBILE VERSION            =
========================================*/

@media screen and (max-width: 1000px) {




    /*----------  Display None  ----------*/

    .clients,
    .container-img,
    #insert-iframe,
    #contact-email {
        display: none;
    }


    /*----------  Setting General  ----------*/


    html {
        font-size: 9px;
    }



    /*=============================================
    =            Header            =
    =============================================*/


    /*----------  Navar  ----------*/
    #header {
        display: none;

    }

    #header-mobile {
        display: flex;
        align-items: center;
        min-height: 10vh !important;

    }

    .container-header-mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container-header-mobile > #burger:hover {
        cursor: pointer;
    }

    .menu-mobile-desactivate {
        display: none !important;
    }



    /*----------  Menu & Submenu  ----------*/


    .container-menu-mobile {
        position: absolute;
        width: 100%;
        background-color: var(--bg-header);
        z-index: 1;
        top: 12%;
    }

    .container-menu-mobile > ul {
        height: 100%;
        margin-top: 4%;
        margin-right: 4%;
        margin-left: 4%;
        cursor: pointer;

    }



    /*----------  Buttons  ----------*/


    .container-menu-mobile >  .container >button {
        width: 160.4138888888889px;
        height: 50.3625px;
        background-color: var(--bg-btn-header);
        color: var(--text-light);
        border-radius: 4.663194444444444px;
        border-style: none !important;
    }

    .container-menu-mobile >  .container >button:hover {
        cursor: pointer;
        background-color: var(--bg-btn-header-hover);
    }

    .container-menu-mobile >  .container {
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-bottom: 5%;
        margin-left: 3%;
        align-items: center;
    }

    .container-menu-mobile > .container>a {
        margin-right: 10px;
        font-size: 14.922222222222222px;
    }

    .container-menu-mobile > .container>a:hover {

        color: var(--color-links) !important;

    }


    /*----------  links  ----------*/



    .nav-link > div > li  {

        width:100%;
        display: flex;
        justify-content: center;

    }

    .nav-link > div > li > a  {
        display: flex;
        justify-content:space-between;
        min-height: 10vh;
        font-size: 0.7em;

    }

    .img-dropdown-menu {
        margin-right: 9px;
    }


    .container-menu-mobile > ul > .nav-link {
        width: 100%;
        font-size: 3em;
        text-align: center;
        color: #fff ;
        min-height: 10vh;
    }

    .nav-link > a {
        color: #fff !important;
    }

    .nav-link > div > li > a:hover,
    .container-menu-mobile > ul > .nav-link:hover {
        color: var(--color-links) !important;
    }

    .desactivate {
        display: none;
    }


    /*=====  End of Header  ======*/

    /*----------  Navar links In Row ----------*/


    .nav-pc>ul {

        margin-left: 35px;
    }


    /*----------  Price  ----------*/



    #show-price {
        background-color: #FFF;
        display: block;
        height: 100%;

    }

    .container-card-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }


    .card-price {

        width: 60%;
    }

    .rectangle {

        box-shadow:2px 4px 33px 5px rgba(0,0,0,0.1);

    }

    .card-price>.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ffff;
        box-shadow: 2px 4px 33px 5px rgb(0 0 0 / 10%);
        border-radius: 13.989583333333332px 0px 13.989583333333332px 13.989583333333332px;
    }

    .card-price>.container:after {

        content: "";
        left: 90% !important;
        top: -11.7% !important;
        border: 30px solid transparent;
        border-bottom-color: white !important;
        box-shadow: transparent transparent 99px 5px rgb(0 0 0 ) !important;

    }


    /*----------  Get Attention  ----------*/

    #get-attention {
        display: block;
        width: 100%;


    }

    .container-get-attention {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    /*----------  TEXT  ----------*/

    .container-get-attention>.capture-text {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: green; */
    }
    .capture-text>.cap-title {
        /* margin-top: 4%; */
        width: 78.587963%;
        height: 26.0658341%;
    }

    .cap-title>h3 {
        font-size: 1.5em;
        line-height: 2em;
    }

    .cap-title>h3:last-child {
        color: var(--text-shiny);
    }

    .capture-text>.p-text {
        font-size: 1.4em;
        line-height: 2em;
    }

    /*----------  Get Email  ----------*/


    .get-email {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 60.6215278px; */
        width: 100%;
        margin: 7% !important;
        border: none;
        padding: 0px !important;
    }


    .get-email>input {
        width: 90%;
        height: 50px !important;
        border: none;
        border: 1px solid #000;
        border-radius: 4.663194444444444px;
        font-size: 14.922222222222222px;
        padding: 10px;
    }

    .get-email>button {
        width: 90%;
        margin-top: 3px;
        height: 50px !important;
        background-color: var(--bg-btn-contact);
        border: transparent;
        border-radius: 4.663194444444444px;
        font-size: 14.922222222222222px;
        font-weight: bold;
        padding: 10px;

    }

    /*----------  Girl Writing  ----------*/

    .container-get-attention>.girl-writing {
        display: none;
    }

    .girl-writing-mobile {
        display: flex;
        margin-left: 77%;
        height: 200px;
        width: 200px;
    }

    .girl-writing-mobile > img {
        width: 100%;
        height: 100%;
        border-radius: 999px;
        object-fit: cover;
    }


    #messages-mobile {
        width: 200px !important;
        height: 200px !important;
        position: absolute;
        /* margin: 0px !important; */
        left: 57%;
        top: 60%;

    }

    /*----------  Card Price  ----------*/

    .card-price>.container:after {
        content: "";
        position: absolute;
        /* bottom: 0; */
        /* height: 0; */
        /* width: 0; */
        left: 8%;
        transform: rotate(-45deg);
        top: -11.1%;
        border: 30px solid transparent;
        border-bottom-color: white;
    }



    /*----------  Slider  ----------*/



    .slider-d-none {
        display: block !important;
    }

    .container-buttons {
        display: none;
    }


    .slider {
        overflow: hidden;
        display:block;
        margin-bottom: 6%;
    }

    .container-slider>.slider>#automate,
    .container-slider>.slider>#increase,
    .container-slider>.slider>#retain {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 76px;
        height: 65%;
    }

    .container-slider>.slider>#automate>.container,
    .container-slider>.slider>#increase>.container,
    .container-slider>.slider>#retain>.container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* margin-left: 149.2222222222222px; */
    }

    /* #retain > .content {
        position: relative;
        top: 700px;
    }

    .container-img {
        position: relative;
        top: -160px !important;
    }

    .btn-start-building {
        top: 700px;
        position: relative;
    } */

    .container-slider > .slider > #automate > .container > .content,
    .container-slider > .slider > #increase > .container > .content,
    .container-slider > .slider > #retain > .container > .content {
        font-size: 16.7875px;
        width: 488.703px;
        line-height: 32.6424px;
        display: block;
        z-index: 1;
    }

    .btn-start-building{
        display: block;

    }

    .container-img-mobile {
        display: block;
        /* flex-wrap: nowrap; */
        /* flex-direction: column-reverse; */
        /* align-content: stretch; */
        /* justify-content: space-evenly; */
        /* align-items: flex-end; */
        /* overflow: hidden; */
        width: 309.6361111111111px;
        height: 309.6361111111111px;

    }

    .container-img-mobile > img{
        width: 100%;
        height: 100%;
    }

    .meet-posibilities {
        width: 90%;
        margin-top: 76px;
        margin-left: 4.6%;
        color: var(--text-shiny);
        font-weight: bold;
        font-size: 27.979166666666664px;
        text-transform: uppercase;
    }

    .container-slider>.slider>#automate>.container>.title,
    .container-slider>.slider>#increase>.container>.title,
    .container-slider>.slider>#retain>.container>.title {
        line-height: 55.95833333333333px;
        font-size: 4em;
        width: 60%;
        /* left: 1000px; */
    }




    /*----------  Models  ----------*/

    .container-pm>.content-likedin {
        display: flex;
        margin-top: 12.124305555555555px;
        width: 100%;
        height: 12.124305555555555px;
    }

    .container-pm>.content-likedin>.text {
        height: 31.709722222222222px;
        margin-left: 4%;
        font-size: 1.6em;
    }

    .container-pm>.container-text {
        width: 100%;
        height: 178.1340277777778px;
        font-size: 2.1em;
    }

    .container-pm>.title-pm {
        font-size: 2.3em;
    }

    .profile-img>img {
        height: 23%;
        width: 23%;
        border-radius: 999px;
    }

    /*----------  Footer  ----------*/

    .footer-top {
        /* width: 1168.5965277777777px; */
        height: 100%;
        margin-left: 74.6111111111px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container-tlsw {
        display: block;
        margin-bottom: 230px;
    }

    .container-products,
    .container-company,
    .container-ds{
        display:block;
        margin: 0px !important;
        padding: 0px;

    }

    .investors {
        margin-top: 0px;

    }

    .footer-suscribe {
        width: 100%;
        height: 100% !important;
        background-color: #000;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .footer-suscribe > .content {
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin: 0px;
        width: 80%;
        height: 100%;
        margin-bottom: 10%;

    }

    .footer-suscribe > .content > .title {
        margin: 0px !important;
        height: 98px !important;
        margin-top: 19px !important;
    }

    .suscribe > form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .suscribe > form > input{
        margin-top: 50px !important;
        border-radius: 4.663194444444444px  !important;
        padding: 5%;
        width: 100% !important;
        background-color: transparent;
        color: #fff;
        border: 1px solid grey !important;
    }

    .footer-suscribe>.content>.suscribe, .footer-suscribe>.content>.suscribe>form {
        height: 50%;
        width: 100%;
    }

    .suscribe > form > button {
        margin: 0px !important;
        margin-top: 20px !important;
        width: 100% !important;
        border-radius: 4.663194444444444px  !important;
        padding: 5%;
        background-color: #4800FF !important;

    }

    .suscribe > form > button:hover {
        cursor: pointer;
        background-color: #5d1ffa !important;

    }

    .footer-bottom {
        width: 100%;
        /* height: 81.61522916666667px; */
        display: flex;
        align-items: center;
    }

    footer .p{
        display: none;
        margin-top: 2% !important;
    }

    .footer-bottom>.info>ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-bottom {
        width: 100%;
        min-height: 81.61522916666667px;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .footer-bottom>#copyright {
        margin-left: auto;
        margin-right: auto;
    }
}
/*=====  End of Mobile Version  ======*/