/*=======================================
=            Global Settings            =
=========================================*/


/*----------  Loading Fonts Web  ----------*/


@font-face {

    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'), url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 600px;
    font-style: normal;

}


/*----------  Settings Values  ----------*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html {

    font-size: 15px;

}

/*----------  Declarations Variable  ----------*/

:root {
    /*Color text*/
    --text-dark: #000000;
    --text-shiny: #41DD97;
    --text-light: #FFFFFF;

    /*Backgrounds*/
    --bg-header: #01022E;
    --bg-pricing: var(--bg-header);
    --bg-drawflow: var(--bg-header);
    --bg-footer: var(--bg-header);
    --bg-banner-suscribe: var(--text-dark);
    --bg-dropdown-menu: var(--text-light);

    /*Buttons*/
    --bg-btn-slider: var(--bg-header);
    --bg-btn-contact: var(--text-shiny);
    --bg-btn-get-started: var(--bg-btn-contact);
    --bg-btn-suscribe: #0070FF;
    --bg-btn-header: #4800FF;
    --bg-btn-header-hover: #6D33FD;

    /*Rectangules Decorations*/
    --bg-satisfaction: #FF649E;
    --bg-reals: #5584EB;
    --bg-Engagement: #FFBB00;

    /*Links*/
    --color-links: #FFBB00;

}


/*----------  Reset A links  ----------*/

a {
    text-decoration: none;
    color: white;
}


/*----------  Reset A li  ----------*/

li {
    list-style: none;
}


*:focus {
    outline: none;
}

/*=====  End of Global Settings  ======*/


/*============================
=            Menu            =
==============================*/


/*----------  Creating Background  ----------*/

.bg-dark {
    background-color: var(--bg-header);
    color: var(--text-light);
}

#header {
    height: 112.84930555555556px;
}

#header-mobile {
    display: none;

}

/*----------  Overlay Container  ----------*/

.container-header {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    margin-left: 74.6111111111px;
    margin-right: 74.6111111111px;
}

/*----------  Navar links In Row ----------*/

nav {
    display: flex;
    max-width: 100%;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-pc>ul {

    display: flex;
    margin-left: 36px;
}



.nav-link {
    list-style: none;
    margin-right: 40px;
    font-size: 0.9rem;
}



/*----------  Dropdown Icons  ----------*/

.dropdown-icon>a:after {
    margin-left: 5px;
    content: url('../assets/images/Rectangle.svg');

}

.dropdown-icon>a:hover:after {
    /* fill: var(--color-links); */
    filter: invert(27%) sepia(51%) saturate(2878%);
}


/*----------  Dropdown Menu  ----------*/

.dropdown-menu {
    display: none;
}

.nav-link:hover .dropdown-menu {
    position: absolute;
    display: inline-block;
    min-width: 140px;
    margin-left: -136px;
    background-color: var(--text-light);
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 1.4px 1.4px 1.4px rgba(0, 0, 0, 0.1);
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    align-items: center;
    color: var(--text-dark);
}


.nav-link:hover .dropdown-menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0;
    left: 120px;
    top: -15px;
    border: 10px solid transparent;
    border-bottom-color: var(--bg-dropdown-menu);

}

.dropdown-menu li a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown-menu li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown-menu li:hover {
    border-radius: 5px;
}

.dropdown-menu li a {
    height: 28px;
}


.dropdown-menu li:hover .arrow {

    display: block;
    transform: rotate(-90deg);
}

.dropdown-menu li:hover .info-submenu {
    margin-right: 0px;
}

.img-dropdown-menu {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.img-dropdown-menu>img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    object-position: center;
}

.info-submenu {
    margin-left: 32px;
    margin-right: 35px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    overflow: hidden;
}

.img-dropdown-menu~.info-submenu {
    margin-left: 4px;
}


.arrow {
    display: none;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    content: url('../assets/images/Rectangle-pink.svg');
}



.dropdown-menu a {
    color: var(--text-dark) !important;
}


/*----------  Container Header  ----------*/

.container-header>.container>button {
    width: 160.4138888888889px;
    height: 50.3625px;
    background-color: var(--bg-btn-header);
    color: var(--text-light);
    border-radius: 4.663194444444444px;
    border-style: none !important;
}

.container-header>.container>button:hover {
    cursor: pointer;
    background-color: var(--bg-btn-header-hover);
}

.container>a {
    margin-right: 10px;
    font-size: 14.922222222222222px;
}

.container>a:hover,
nav>ul a:hover {

    color: var(--color-links);

}


/*=====  End of Menu  ======*/



/*=====================================
=            Get Attention            =
=======================================*/


/*----------  Creating Background  ----------*/

.bg-light {
    background-color: #FFFF;
}


/*----------  Get Attention  ----------*/

#get-attention {
    display: block;
    width: 100%;
}

.container-get-attention {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
}

/*----------  TEXT  ----------*/


.container-get-attention>.cap-title {
    padding-top: 100.725px;
    padding-left: 73.67847222222223px;
    width: 50%;
    height: 26.0658341%;

}

.cap-title>h3 > b{

    font-size: 2.3em;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
}



.cap-title>p {
    /* background-color: pink; */
    padding-top: 1.851576073472%;
    font-size: 1.2em;
    line-height: 2.1em;
}



/*----------  Button Fixed  ----------*/

.chat-button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    background-color: #41DD97 !important;
    background: url(../assets/images/contact.png);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    cursor: pointer;
    left: 90%;
    top: 90%;
    z-index: 3;
}


/*----------  Girl Writing  ----------*/


.girl-writing {
    width: 50%;
    overflow: hidden !important;
}

.messages {
    position: relative;
    margin-top: 5% !important;
    width: 930px;
    height: 75vh;
    overflow:hidden;

}

#messages {
    width: 100%  !important;
    height: 100%;
    position: absolute;
    left: -9%;
    top: 0%;
    overflow:hidden;

}

@media screen and (max-width: 1200px) {
    .messages {
        width: 800px;

    }

    .get-email {

        margin-top: 3%;
    }

    .cap-title>h3 > b {
        font-size: 1.3em;
        line-height: 0.98em;
    }

}

/*----------  Get Email  ----------*/



.get-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 623.9354166666667px;
    height: 67.15px;
    position: absolute;
    top: 88%;
    margin-left:  73.67847222222223px;
    background-color: #fff;
    border: solid #475a6998;
    border-width: 0.9px;
    border-radius: 4.66319444px;
    padding-right: 8.39375px;
    /* margin-top: 1%; */
}

.get-email>input {
    width: 56%;
    height: 90%;
    border: none;
    font-size: 14.922222222222222px;
    padding-left: 30px;
}

.get-email>button {
    height: 75.1311148828%;
    width: 42.8031916012%;
    background-color: var(--bg-btn-contact);
    border: transparent;
    border-radius: 4.663194444444444px;
    font-size: 14.922222222222222px;
    font-weight: bold;
}

.get-email>button:hover {

    background-color:#47e09ce3;
    cursor: pointer;
}

/*----------  Show Clients  ----------*/

.clients {
    display: block;
    width: 100%;
    height: 168.564583px;
    margin-top: 100px;
}

.clients>.container-clients {
    /* width: 1149.01111px; */
    height: 104.455556px;
    margin-left: 6.3%;
    margin-right: 6.3%;
}


.container-clients>.content-img {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
}

/*=====  End of Get Attention  ======*/



/*==================================
=            Show Price            =
====================================*/


/*----------  Background  ----------*/

#show-price {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 443.00347222222223px;

}


/*----------  Container Card Price  ----------*/

.container-card-price {
    width: 86.1374123%;
    margin-top: 92.33125000000001px;
    margin-bottom: 90.46597222222222px;
    display: flex;
    justify-content: space-between;
}



/*----------  Card Price ----------*/

.card-price {
    width: 29.7841727%;
    height: 104%;
    text-align: center;

}

.card-price>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    border-radius: 13.989583333333332px 0px 13.989583333333332px 13.989583333333332px;
    z-index: 2;
}

.card-price>.container:after {
    content: "";
    position: absolute;
    left: 87%;
    transform: rotate(-45deg);
    top: -11.1%;
    border: 30px solid transparent;
    border-bottom-color: white;
}

.rectangle {
    position: relative;
    top: -53px;
    right: 16.3211805px;
    width: 65.28472222222223px;
    height: 65.28472222222223px;
    border-radius: 0px 0px 0px 13.989583333333332px;
    object-fit: cover;
    z-index: 1;
}

/*----------  Porcent  ----------*/



.porcent {
    width: 140px;
    height: 70px;
    margin-top: 30px;
    color: var(--text-shiny);
    font-size: 46.63194444444445px;
    font-weight: bold;
}


/*----------  Title  ----------*/

.title-card {
    width: 240px;
    height: 30px;
    font-size: 23.315972222222225px;
    font-weight: bold;
    color: #000;
}

/*----------  Content  ----------*/

.content-card {
    width: 240px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: -10px;
    font-style: regular;
    color: #000;
    font-size: 13.989583333333332px;
}


/*----------  Double Check  ----------*/

.double-check {
    margin-top: 6%;
    margin-left: 80% !important;
}


/*=====  End of Show Price  ======*/



/*=====================================
=            Insert Iframe            =
=======================================*/


/*----------  Background  ----------*/

#insert-iframe {
    width: 100%;
    height: 818.8569444444445px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    padding-top: 75.54375px;
}


/*----------  Containers  ----------*/

#insert-iframe>.container {
    width: 75%;
    height: 79.72%;
}


.container-iframe {
    height: 100%;
    border: 16px solid #01022E;
    border-radius: 13.989583333333332px;
    margin-top: 47.56458333333333px;
    margin-bottom: -47.56458333333333px;
}

/*----------  Text  ----------*/


#insert-iframe>.container>.container-text {
    width: 100%;
    height: 55.95833333333333px;
    font-size: 1.8em;
    text-align: center;
}

/*----------  Iframe  ----------*/

.container-iframe>iframe {
    width: 100%;
    height: 100%;
    background-color: #FFF;


}

/*=====  End of Insert Iframe  ======*/



/*==============================
=            Slider            =
================================*/

/*----------  Background  ----------*/

#slider {
    width: 100%;
    height: 900px;
    display: inline-block;
    flex-direction: column;

    background-color: #fff;
}


/*----------  Container Slider  ----------*/



/*----------  Meet the Posibilities  ----------*/

.meet-posibilities {
    margin-top: 76px;
    margin-left: 149.2222222222222px;
    color: var(--text-shiny);
    font-weight: bold;
    font-size: 27.979166666666664px;
    text-transform: uppercase;
}



/*----------  Settings  ----------*/

.container-slider {
    width: 100%;
    height: 70%;

}

.slider {
    margin: 0px;
    padding: 0px;
}


.slider-d-none {
    display: none !important;
}

/*----------  Content  ----------*/

.slider-dark {
    background-color: #F3F3F3 !important;
}

.slider {
    overflow: hidden;
    max-width: 1343px;

}

.container-slider>.slider>#automate,
.container-slider>.slider>#increase,
.container-slider>.slider>#retain {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* margin-top: 76px; */
    /* height: 65%; */
}

.container-slider>.slider>#automate>.container,
.container-slider>.slider>#increase>.container,
.container-slider>.slider>#retain>.container {

    display: flex;
    flex-wrap: wrap;

}

.container-slider>.slider>#automate>.container>.title,
.container-slider>.slider>#increase>.container>.title,
.container-slider>.slider>#retain>.container>.title {
    width: 50%;
    line-height: 55.95833333333333px;
    font-size: 2.2em;
    padding-left: 145.49166666666667px;
    padding-top: 9%;
}

.container-slider>.slider>#automate>.container>.content,
.container-slider>.slider>#increase>.container>.content,
.container-slider>.slider>#retain>.container>.content {
    font-size: 16.7875px;
    width: 50%;
    line-height: 32.642361111111114px;
    padding-left: 145.49166666666667px;
    position: relative;
    top: -40%;
}

.btn-start-building>a>input {
    background-color: #4800FF;
    font-size: 16.7875px;
    color: #fff;
    margin-top: 36px;
    width: 307.7708333333333px;
    height: 55.95833333333333px;
    border-radius: 4.663194444444444px;
    border: none;
    cursor: pointer;
}

.btn-start-building>a>input:hover {
    background-color: #5413f8ea;

}

/*----------  Image Container ----------*/

.container-slider>.slider>#automate>.container>.container-img,
.container-slider>.slider>#increase>.container>.container-img,
.container-slider>.slider>#retain>.container>.container-img {
    overflow: hidden;
    width: 50%;
    display: block;
    text-align: end;
}

.container-slider>.slider>#automate>.container>.container-img>#automate-img,
.container-slider>.slider>#increase>.container>.container-img>#increase-img,
.container-slider>.slider>#retain>.container>.container-img>.retain-img {

    overflow: hidden;
    width: 600px;
    border-radius: 0px 0px 0px 45px;

}

img.retain-img{
    display: none;                        
}

object.retain-img{
    display: block;
}


/*----------  Container Buttons  ----------*/

.container-buttons {
    display: inline-flex;
    height: 69.94791666666667px;
    margin-left: 145.49166666666667px;
}

.container-buttons>input {
    width: 156.68333333333334px;
    height: 69.94791666666667px;
    margin-right: 33.575px;
    border-radius: 46.63194444444445px;
    border: 1px solid var(--bg-btn-slider);

    color: var(--bg-btn-slider);
    font-size: 18.652777777777775px;
}


.container-buttons>input:hover,
.container-buttons>.active {
    cursor: pointer;
    background-color: var(--bg-btn-slider);
    font-weight: bold;
    color: #fff;
}

/*=====  End of Slider  ======*/



/*=========================================
=            Predictive Models            =
===========================================*/

/*----------  Background  ----------*/

#predictive-models {
    width: 100%;
    height: 707.8729166666667px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
}



.container-pm {
    width: 70%;
    height: 100%;
    margin-left: 145.49166666666667px;
}

.container-pm>.title-pm {
    margin-top: 61.55416666666666px;
    font-size: 27.979166666666664px;
    font-weight: bold;
    color: var(--text-shiny);
    text-transform: uppercase;
}

.container-pm>.profile-img {

    margin-top: 33.575px;
}

.profile-img>img {
    height: 169.74027777777778px;
    width: 169.74027777777778px;
    border-radius: 999px;
}


.container-pm>.container-text {
    width: 100%;
    height: 178.1340277777778px;
    font-size: 2.3em;
}

.container-pm>.content-likedin {
    display: flex;
    margin-top: 10%;
    width: 532.5368055555555px;
    height: 12.124305555555555px;
}

.container-pm>.content-likedin>.text>a {
    color: #0077B5;
}

.container-pm>.content-likedin>.text {
    height: 31.709722222222222px;
    margin-left: 14.922222222222222px;
    font-size: 18.2px;

}

.container-pm>.loading img {
    display: block;
    margin-top: 62px;
    width: 85.80277777777778px;
    height: 19.71598611111111px;
}

#predictive-models>.container-circle {
    width: 30%;
    height: 100%;
    overflow: hidden;
}

#predictive-models>.container-circle>.circle {
    position: relative;
    margin-top: 440px;
    margin-left: 130px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* margin-left: 84%; */
    /* margin-top: 35%; */
    border: 120px solid #ffff;
    background-color: #F3F3F3;
}

/*=====  End of Predictive Models  ======*/



/*=============================================
=            Contact Email            =
=============================================*/


/*----------  Background  ----------*/

#contact-email {
    width: 100%;
    height: 416.88958333333335px;
    margin-bottom: -121.243055556px;

}



/*----------  Title  ----------*/

#contact-email>.content-text {
    width: 561.4486111111112px;
    height: 64.35208333333334px;
    margin-top: 96.99444444444444px;
    margin-left: 145.49166666666667px;
    font-size: 37.30555555555555px;
}

/*----------  Get Email  ----------*/


.content-get-email>form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24.24861111111111px !important;
    margin-left: 11.6206869%;
    margin-right: 11.6206869%;
    /* width: 1044.5555555555557px  !important; */
    height: 111.91666666666666px !important;
    background-color: white;
    border: solid #475a6998;
    border-width: 0.9px;
    border-radius: 4.66319444px;
    padding-right: 8.39375px;

}

.content-get-email>form>input {
    width: 56%;
    height: 90%;
    border: none;
    font-size: 14.922222222222222px;
    padding-left: 30px;
}

.content-get-email>form>button {
    height: 93.2638888888889px;
    width: 247.14930555555557px;
    background-color: var(--bg-btn-contact);
    border: transparent;
    border-radius: 13.989583333333332px;
    font-size: 23.315972222222225px;
    font-weight: bold;
    color: #fff;
}

.content-get-email>form>button:hover {
    background-color:#4be6a0ce;
    cursor: pointer;
}

/*=====  End of Contact Email  ======*/



/*==============================
=            Footer            =
================================*/


/*----------  Background  ----------*/



footer {
    background-color: var(--bg-footer);
    width: 100%;
    padding-top: 27.04652777777778px;
    margin-top: 10px;
}


/*----------  Top  ----------*/

.footer-top {
    /* width: 1168.5965277777777px; */
    height: 461.8334513888889px;
    margin-left: 74.6111111111px;
    display: flex;
    justify-content: space-between;
}


.container-tlsw {
    width: 259.2736111111111px;
    height: 100px;
}


/*----------  Language  ----------*/



.container-tlsw>.language>ul {
    display: flex;
    width: 100%;
    margin-top: 89.53333333333333px;
    justify-content: space-between;
}

.container-tlsw>.language>ul>li>a {
    display: flex;
    justify-content: space-between;
    margin-right: 9.326388888888888px;
    border-radius: 5.595833333333333px;
    padding-left: 12.124305555555555px;
    padding-right: 17.72013888888889px;
    padding-top: 7.461111111111111px;
    padding-bottom: 7.461111111111111px;
    text-transform: uppercase;
    border: 1px solid #1B1C43;
}

.container-tlsw>.language>ul>li>a:hover {
    background-color: #1B1C43;
}

.container-tlsw>.language>ul>li>a>div {
    font-size: 14.922222222222222px;
    width: 16.7875px;
    height: 22.383333333333333px;
    margin-left: 11.191666666666666px;
}


/*----------  Social Web  ----------*/

.social-web {
    margin-top: 28.911805555555556px;
}

.social-web>.title {
    margin-bottom: 28.911805555555556px;
}

/*----------  Products - Company - Dev & Support  ----------*/


.container-products {
    width: 171.60555555555555px;
    margin-top: 56.8909722222px;

}

.content-products {
    width: 241.5534722222222px;

}

.container-ds {
    width: 285.3875px;
    height: 311.5013888888889px;
    margin-top: 56.8909722222px;
}




/*----------  Company  ----------*/
.container-company {
    width: 153.88541666666666px;
    margin-top: 56.8909722222px;
}

/*----------  Developers & Investors  ----------*/

.investors {
    margin-top: 46.63194444444445px;
    font-size: 16.7875px;
    width: 285.3875px;
    height: 149.2222222222222px;
}

/*----------  General Footer Top  ----------*/



.p > a {
    display: block;
    font-size: 14.922222222222222px;
    margin-top: 22.383333333333333px !important;
    color: #B4C0CA;
}

.p  a:hover {
    text-decoration:underline;

}

.container-products>.title,
.container-company>.title,
.content-developers>.title,
.investors>.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 21.450694444444444px;
    font-size: 16.7875px;
}



/*----------  Suscribe  ----------*/

.footer-suscribe {
    width: 100%;
    height: 140.1849513888889px;
    background-color: #000;
    display: inline-flex;
    align-items: center;
}

.footer-suscribe>.content {
    width: 915.8513888888889px;
    height: 52.806013888888884px;
    margin-left: 74.6111111111px;
    display: inline-flex;
    align-items: center;
}

.footer-suscribe>.content>.title {
    color: #fff;
    margin-right: 152.02013888888888px;
    font-size: 13.989583333333332px;
}

.footer-suscribe>.content>.suscribe,
.footer-suscribe>.content>.suscribe>form {
    height: 100%;

}

.footer-suscribe>.content>.suscribe>form>input {
    width: 211.70902777777778px;
    border: none;
    padding-left: 30px;
    border-radius: 4.663194444444444px 0px 0px 4.663194444444444px;
    height: 100%;
}

.footer-suscribe>.content>.suscribe>form>button {
    width: 211.70902777777778px;
    border: none;
    margin-left: -3.5px !important;
    border-radius: 0px 4.663194444444444px 4.663194444444444px 0px;
    height: 100%;
    background-color: #0070FF;
    color: #fff;
}

.footer-suscribe>.content>.suscribe>form>button:hover {
    cursor: pointer;
    background-color: #1267d6da;

}


/*----------  Bottom  ----------*/

.footer-bottom {
    width: 100%;
    height: 81.61522916666667px;
    display: flex;
    align-items: center;

}

.footer-bottom>#copyright {

    margin-left: 74.6111111111px;
    margin-right: 319.8951388888889px;
}

.footer-bottom>.info>ul {
    display: flex;
}

.footer-bottom>.info>ul>li {
    margin-right: 52.22777777777778px;
}

.footer-bottom>.info>ul>li >a:hover {
    text-decoration:underline;
}
/*=====  End of Footer  ======*/


/*==================================
=            Animations            =
====================================*/


/*----------  Primer mensaje  ----------*/

#messages> #Frame2  > #Group6960 > #Union,
#messages> #Frame2  > #Group6960 > #Unionm,
#Lassolucionesantif,
#messages> #Frame2  > #Group6960 > #Group6957 > #Lassolucionesantif_3, /* time  */
#messages> #Frame2  > #Group6960 > #Group6957 > #double-check3 {/* double check  */
    /* display: none; */
    /* visibility: hidden;
    visibility: visible; */
    animation: showMessages 3.9s 1s both infinite;


}

/*----------  Segundo mensaje  ----------*/

#messages> #Frame2  > #Group6960 > #Union_2, 
#Lassolucionesantif_2,
#messages> #Frame2  > #Group6960 > #Group6958 > #Lassolucionesantif_4, /* time  */
#messages> #Frame2  > #Group6960 > #Group6958 > #double-check3_2 {/* double check  */

    animation: showMessages 3.9s 2s both infinite;

}


/*----------  Loading  ----------*/


/* Elipse 1*/
#messages> #Frame2  > #Group6960 > #Ellipse15 {
    animation: loadingImg 1s linear 0.3s infinite;
}
/* Elipse 2*/
#messages> #Frame2  > #Group6960 > #Ellipse16 {
    animation: loadingImg 1s linear 0.75s infinite;
}
/* Elipse 3*/
#messages> #Frame2  > #Group6960 > #Ellipse17 {
    animation: loadingImg 1s linear 0.9s infinite;

}


/*----------  Slider  ----------*/



#automate-img > #Group6987 > #MaskGroup > #ashak > #App-01 > #Conversation > #Item-01 {
    transform: translateX(50%);
    animation: moveMessages 3s .5s both infinite;

}

#automate-img > #Group6987 > #MaskGroup > #ashak > #App-01 > #Conversation > #Item-02 {
    transform: translateX(50%);
    animation: moveMessages 3s .5s both infinite;
}

#automate-img > #Group6987 > #MaskGroup > #ashak > #App-01 > #Conversation > #Item-02_2 {
    transform: translateX(50%);
    animation: moveMessages 3s .5s both infinite;
}

#automate-img > #Group6987 > #MaskGroup > #ashak > #App-01 > #Conversation > #Drag-01 {
    transform: translateX(50%);
    animation: moveMessages 3s .5s both infinite;
}


#increase-img > #Section-02 > #figure-01 > #App-02 {
    transform: translateX(50%);
    animation: moveMessages 3s .5s both infinite;
}


/* retain-img>retain>Alert 1>Grupo 199>Group */

@keyframes showMessages {

    from {
        visibility:hidden;
     }
    
 30% {
        visibility:hidden;
     }
 to {
        visibility:visible;
  }
}

@keyframes moveMessages {

    100% {    
        transform:unset;
    }
}


@keyframes loadingImg {
    0% {
        transform: unset;
    
    }
    
      50% {
        transform: translateY(0.5%);
    
     }
    
      100% {
        transform: unset;
      }
}
/*=====  End of Animations  ======*/

/*======================================
=            MOBILE VERSION            =
========================================*/

@media screen and (max-width: 500px){
    .card-price {  
        width: 250px;   
        height: auto;
    } 
    .card-price > .container:after {   
        content: "";   
        left: 85% !important;   
        top: -10.4% !important;  
    }
    #show-price {
        overflow: hidden;
    }
}


@media screen and (max-width: 1000px) {




    /*----------  Display None  ----------*/

    .clients,
    #insert-iframe,
    #contact-email {
        display: none;
    }


    /*----------  Setting General  ----------*/


    html {
        font-size: 10px;
    }



    /*=============================================
    =            Header            =
    =============================================*/


    /*----------  Navar  ----------*/
    #header {
        display: none;

    }

    #header-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }

    .container-header-mobile {
        display: flex ;
        width: 100%;
        justify-content: space-between;
        padding: 4%;
    }

    .container-header-mobile > #burger:hover {
        cursor: pointer;
    }

    .menu-mobile-desactivate {
        display: none !important;
    }

    /*----------  Menu & Submenu  ----------*/


    .container-menu-mobile {
        width: 100%;
        /* position: absolute; */
        position:absolute;
        background-color: var(--bg-header);
        z-index: 4;
        top: 10%;
        
    }

    .container-menu-mobile > ul {
        height: 100%;
        margin-top: 4%;
        margin-right: 4%;
        margin-left: 4%;
        cursor: pointer;

    }


    
    /*----------  Buttons  ----------*/


    .container-menu-mobile >  .container >button {
        width: 160.4138888888889px;
        height: 50.3625px;
        background-color: var(--bg-btn-header);
        color: var(--text-light);
        border-radius: 4.663194444444444px;
        border-style: none !important;
    }

    .container-menu-mobile >  .container >button:hover {
        cursor: pointer;
        background-color: var(--bg-btn-header-hover);
    }

    .container-menu-mobile >  .container {
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-bottom: 5%;
        margin-left: 3%;
        align-items: center;
    }

    .container-menu-mobile > .container>a {
        margin-right: 10px;
        font-size: 14.922222222222222px;
    }

    .container-menu-mobile > .container>a:hover {

        color: var(--color-links) !important;

    }


    /*----------  links  ----------*/

    .nav-link {
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .nav-link > div {
        margin-top: 5%;
    }
    .nav-link > div > li  {

        width:100%;
        display: flex;
        justify-content: center;

    }

    .nav-link > div > li > a  {
        display: flex;
        justify-content:space-between;
        min-height: 10vh;
        font-size: 0.7em;

    }

    .img-dropdown-menu {
        margin-right: 9px;
    }


    .container-menu-mobile > ul > .nav-link {
        width: 100%;
        font-size: 2.3em;
        text-align: center;
        color: #fff ;
        min-height: 10vh;
    }

    .nav-link > a {
        color: #fff !important;
    }

    .nav-link > div > li > a:hover,
    .container-menu-mobile > ul > .nav-link:hover {
        color: var(--color-links) !important;
    }

    .desactivate {
        display: none;
    }


    /*=====  End of Header  ======*/

    /*----------  Navar links In Row ----------*/


    .nav-pc>ul {

        margin-left: 35px;
    }


    /*----------  Price  ----------*/



    #show-price {
        background-color: #FFF;
        display: block;
        height: 100%;

    }

    .container-card-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }


    .card-price {

        width: 290px;
        height: auto;
    }

    .rectangle {

        box-shadow:2px 4px 33px 5px rgba(0,0,0,0.1);

    }

    .card-price>.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ffff;
        box-shadow: 2px 4px 33px 5px rgb(0 0 0 / 10%);
        border-radius: 13.989583333333332px 0px 13.989583333333332px 13.989583333333332px;
    }

    .card-price>.container:after {

        content: "";
        left: 88% !important;
        top: -12.9% !important;
        border: 34px solid transparent !important;
        border-bottom-color: white !important;
        box-shadow: transparent transparent 99px 5px rgb(0 0 0 ) !important;

    }


    /*----------  Get Attention  ----------*/

    #get-attention {
        display: block;
        width: 100%;
        height: 90vh;

    }

    .container-get-attention {
        display: flex;
        /* flex-wrap: nowrap; */
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;


    }

    /*----------  TEXT  ----------*/

    .container-get-attention>.container-get-attention {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* background-color: green; */
    }
    .container-get-attention>.cap-title {
        /* margin-top: 4%; */
        width: 50%;
        height: 100%;
        padding: 5%;
        margin-top: 0% !important;
    }

    .cap-title>h3 {
        font-size: 2.6em;
        line-height: 2em;
    }


    .cap-title>p {
        
        font-size: 1.5em;
        line-height: 2em;
    }


    /*----------  Button Fixed  ----------*/

    .chat-button {
        
        left: 80%;
    }

     /*----------  Girl Writing  ----------*/



     .girl-writing {
        height: 100%; 
        width: 50%;
        /* height: 5px !important; */
        margin-bottom: 2%;
        /* margin-top: -0
        vh; */

        margin-left: 0px !important;
        min-height: fit-content;
    }



    .messages {
        width: 100%;
        height: 55vh;
        position: relative;
        margin-top: 5% !important;
        overflow: hidden;
        
    }

    #messages {
        width: 100% !important;
        left: 0%;
    }

    /*----------  Get Email  ----------*/


    .get-email {
        display: block !important;
        position:static;
        width: 100%;
        height: 113.78194444444445px;
        border: none;
        text-align: center ;
        margin-top: -20.2vh !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 5% !important;
        padding: 0px !important;


    }

    @media screen and (max-width:764px) {

        .container-get-attention>.cap-title,
        .girl-writing {
            width: 100%;
        }

        .get-email,
        .girl-writing {
            margin-top: 0px !important;

        }

        #get-attention{
            height: auto !important;
        }

    }

    .get-email>input {
        width: 90%;
        height: 50% !important;
        border: none;
        border: .5px solid #475a6985;
        border-radius: 4.663194444444444px;
        font-size: 14.922222222222222px;
        padding: 10px;
    }

    .get-email>button {
        width: 90%;
        margin-top: 1%;
        height: 50% !important;
        background-color: var(--bg-btn-contact);
        border: transparent;
        border-radius: 4.663194444444444px;
        font-size: 14.922222222222222px;
        font-weight: bold;
        padding: 10px;

    }


    /*----------  Card Price  ----------*/

    .card-price>.container:after {
        content: "";
        position: absolute;
        /* bottom: 0; */
        /* height: 0; */
        /* width: 0; */
        left: 8%;
        transform: rotate(-45deg);
        top: -11.1%;
        border: 30px solid transparent;
        border-bottom-color: white;
    }



    /*----------  Slider  ----------*/



    .slider-d-none {
        display: block !important;
    }

    .container-buttons {
        display: none;
    }


    .slider {
        overflow: hidden;
        display:block;
        width: 100%;
        padding-left: 5% !important;
        padding-right: 5% !important;
        margin-bottom: 6%;
    }

    .container-slider>.slider>#automate,
    .container-slider>.slider>#increase,
    .container-slider>.slider>#retain {
        
        flex-direction: column;
        margin-top: 76px;
        width: 100%;
        /* height: 65%; */
    }

    .container-slider>.slider>#automate>.container,
    .container-slider>.slider>#increase>.container,
    .container-slider>.slider>#retain>.container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .container-slider > .slider > #automate > .container > .content,
    .container-slider > .slider > #increase > .container > .content,
    .container-slider > .slider > #retain > .container > .content {
        font-size: 16.7875px;
        width: 100%;
        line-height: 32.6424px;
        display: block;
        padding: 0px;
    }

    .btn-start-building{
        width: 100% !important;
    }
    .btn-start-building > a > input{
        
        width: 100% !important;
    }

    .meet-posibilities {
        width: 90%;
        margin-top: 76px;
        margin-left: 4.6%;
        color: var(--text-shiny);
        font-weight: bold;
        font-size: 27.979166666666664px;
        text-transform: uppercase;
    }

    .container-slider>.slider>#automate>.container>.title,
    .container-slider>.slider>#increase>.container>.title,
    .container-slider>.slider>#retain>.container>.title {
        line-height: 55.95833333333333px;
        font-size: 4em;
        width: 100%;
        padding: 0px;
        /* left: 1000px; */
    }


    /*----------  Image Container ----------*/

    .container-slider>.slider>#automate>.container>.container-img,
    .container-slider>.slider>#increase>.container>.container-img,
    .container-slider>.slider>#retain>.container>.container-img {
        width: 100%;
        text-align: end;
    }

    
    .container-slider>.slider>#automate>.container>.container-img>#automate-img,
    .container-slider>.slider>#increase>.container>.container-img>#increase-img,
    .container-slider>.slider>#retain>.container>.container-img>.retain-img {
        overflow: hidden;
        width: 80%;
        border-radius: 0px 0px 0px 45px;

    }

    #automate-img {
        width: 303.5px !important;
        height: 319.5px !important;
    }

    #increase-img {
        width: 345px !important;
        height: 299.5px !important;

    }
    #retain-img {
        width: 345px !important;
        height: 299.5px !important;
    }
    
    img.retain-img{
        display: block;                        
    }

    object.retain-img{
        display: none;
    }
    /*----------  Models  ----------*/
    .container-pm {
        width: 90%;
        height: 100%;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .container-pm>.content-likedin {
        display: flex;
        margin-top: 12.124305555555555px;
        width: 100%;
        height: 12.124305555555555px;
    }

    .container-pm>.content-likedin>.text {
        height: 31.709722222222222px;
        margin-left: 4%;
        font-size: 1.4em;
    }

    .container-pm>.content-likedin>.text a{
        display: block;

    }
    .container-pm>.container-text {
        width: 100%;
        height: 178.1340277777778px;
        font-size: 2.1em;
    }

    .container-pm>.title-pm {
        font-size: 2.3em;
    }

    .profile-img>img {
        height: 23%;
        width: 23%;
        border-radius: 999px;
    }

    #predictive-models>.container-circle {
        
        display: none;
    }



    /*----------  Footer  ----------*/

    footer {
        overflow: hidden;
    }
    .footer-top {
        width: 80%; 
        height: 100%;
        margin-left: 43.611px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    .container-tlsw {
        display: block;
        margin-bottom: 230px;
    }

    .container-products,
    .container-company,
    .container-ds{
        display:block;
        margin: 0px !important;
        padding: 0px;

    }

    .investors {
        margin-top: 0px;

    }

    .footer-suscribe {
        width: 100%;
        height: 100% !important;
        background-color: #000;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .footer-suscribe > .content {
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin: 0px;
        width: 80%;
        height: 100%;
        margin-bottom: 10%;

    }

    .footer-suscribe > .content > .title {
        margin: 0px !important;
        height: 98px !important;
        margin-bottom: -16% !important;
        margin-top: 10% !important;
    }

    .suscribe > form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .suscribe > form > input{
        margin-top: 50px !important;
        border-radius: 4.663194444444444px  !important;
        padding: 5%;
        width: 100% !important;
        background-color: transparent;
        color: #fff;
        border: 1px solid grey !important;
    }

    .footer-suscribe>.content>.suscribe, .footer-suscribe>.content>.suscribe>form {
        height: 50%;
        width: 100%;
    }

    .suscribe > form > button {
        margin: 0px !important;
        margin-top: 20px !important;
        width: 100% !important;
        border-radius: 4.663194444444444px  !important;
        padding: 5%;
        background-color: #4800FF !important;

    }

    .suscribe > form > button:hover {
        cursor: pointer;
        background-color: #5d1ffa !important;

    }

    
    /*----------  Footer Bottom  ----------*/
    
    

    .footer-bottom {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .social-web >.title,
    .container-products >.title,
    .container-company >.title,
    .content-developers >.title,
    .investors > .title {
        margin-top: 10px !important;
    }
    footer .p{
        margin-top: 2% !important;
    }

    .footer-bottom>.info>ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-bottom>.info>ul>li {
        margin-top: 3%;
    }
    
    .footer-bottom {
        width: 100%;
        min-height: 81.61522916666667px;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
    }

    .footer-bottom>#copyright {
        margin-right: auto;
    }
}
/*=====  End of Mobile Version  ======*/
